@import url('https://fonts.googleapis.com/css2?family=Abel&family=Reem+Kufi+Fun:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Reem Kufi Fun', sans-serif;
}

header{
    background-color: #151515;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 60px;
}

header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    margin-left: 55px;
}

header ul li a{
    color: white;
    font-size: 20px;
}

header ul li a:hover{
    color: rgb(207, 207, 207);
    transition: 300ms;
}

.logo img{
    width: 65px;
}

.logo img:hover{
    filter: brightness(80%);
    transition: 300ms;
}

main{
    background-image:linear-gradient(#151515, #151515, rgb(6, 6, 6)) ;
    background-repeat: no-repeat;
    width: 100%;
    height: 50%;
}

h1{
    font-size: 45px;
}

footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: rgb(6, 6, 6);
    font-size: 15px;
}

section{
    height: 100vh;
    padding: 50px 100px;
    color: white;
}

.drug img{
    width: 80px;
}

.drug img:hover{
    cursor: pointer;
    transform: rotate(10deg) scale(1.1);
    transition: 200ms;
}

.drugs{
    display: flex;
}

.drug-view img{
    position: absolute;
    width: 500px;
    left: 60%;
    bottom: 2%;
}

.drug-view img:nth-child(1){
    z-index: 1;
    width: 400px;
    left: 60%;
    bottom: 10%;
}

.drug-view img:nth-child(2){
    z-index: 0;
}

.drug-information{
    opacity: 0;
    transition: 500ms;
    font-family: 'Abel', sans-serif;
    font-weight: 400;
}

.drug-text{
    opacity: 0;
    transition: 500ms;
    width: 400px;
    font-family: 'Abel', sans-serif;
    font-weight: 400;
}

#buy-btn {
    margin-top: 15px;
    text-decoration: none;
   /* padding: 15px 120px; */
    background: #ffffff;
    height: 50px;
    opacity: 0;
    transition: 500ms;
}

#buy-btn a{
    color: #000000;
    padding: 15px 120px;
    font-weight: bolder;
}

#buy-btn:hover{
    border: solid 1px #ffffff;
    background: #000000;
}

#buy-btn a:hover{
    color: white;
}